@import "https://fonts.googleapis.com/css?family=Lato:100";

 body{
    background-image: url("glass-blur-background-glassmorphism-Blender-minimalism-gradient-2184759-wallhere.com.jpg");
    background-size: cover;
    background-attachment: fixed ;
 }